@model BookReviewWeb.Models.FAQ

<h2>FAQ Details</h2>
<dl class="row">
    <dt class="col-sm-2">Question</dt>
    <dd class="col-sm-10">@Model.question</dd>
    <dt class="col-sm-2">Answer</dt>
    <dd class="col-sm-10">@Model.answer</dd>
</dl>

<form method="post" asp-controller="FAQ" asp-action="DeleteFAQ" asp-route-id="@Model.Id">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
